@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Switzer-Regular';
  src: url('fonts/Switzer-Regular.ttf') format('truetype');
}

@layer base {
  html,body {
    font-family: 'Switzer-Regular';
  }
}

.brand-base {
  background-color: #e6e0fc61 
}

@layer components {
  .btn-primary {
    @apply py-4 px-6 bg-black text-white font-semibold text-xl shadow-md rounded-md;
  }
}